@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 70px;
  background-color: #fff;
  color: #333;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
}

a {
  color: #666;
}
